.btn-login {
  background-color: #ccb0d2;
  color: white;
  font-weight: 500;
  border: none;
}

.btn-login:hover {
  background-color: #c69bd7;
  color: black;
}

.btn-register {
  background-color: #c3e8f0;
  color: white;
  font-weight: 500;
  border: none;
}

.btn-register:hover {
  background-color: #90d4f3;
  color: black;
}

.dropdown-menu {
  background-color: #c3e8f0;
}

.custom-tabs .nav-link {
  color: #666; /* gris oscuro */
  font-weight: 500;
}

.custom-tabs .nav-link.active {
  color: #000;
  border-bottom: 2px solid #000;
}
