<div class="modal-header">
  <h5 class="modal-title">Iniciar sesión</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="cancel()"></button>
</div>

<div class="modal-body">
  <form [formGroup]="loginForm">
    <div class="mb-3">
      <label class="form-label">Correo electrónico</label>
      <input type="email" class="form-control" formControlName="email" placeholder="usuario@correo.com">
      <!-- <div *ngIf="form.controls.email.invalid && form.controls.email.touched" class="text-danger small">
        Correo inválido
      </div> -->
    </div>

    <div class="mb-3">
      <label class="form-label">Contraseña</label>
      <input type="password" class="form-control" formControlName="password" placeholder="********">
      <!-- <div *ngIf="form.controls.password.invalid && form.controls.password.touched" class="text-danger small">
        La contraseña es obligatoria
      </div> -->
    </div>
  </form>
</div>

<div class="modal-footer">
  <button class="btn btn-secondary" (click)="cancel()">Cancelar</button>
  <button class="btn btn-primary" >Iniciar sesión</button>
</div>
