<h5 class="fw-bold mx-sm-3 mb-4">Crear ponente</h5>

<form [formGroup]="speakerForm" (ngSubmit)="!speakerForm.invalid && createSpeaker()" class="w-100" style="max-width: 400px;">
  <div class="mb-3 ms-sm-3">
    <label for="name" class="form-label">Nombre</label>
    <input
      type="text"
      id="name"
      formControlName="name"
      class="form-control"
      placeholder="Ej. Pepito Pérez Gonalez"
    />
    <div *ngIf="speakerForm.controls['name'].touched && speakerForm.controls['name'].invalid" class="text-danger small">
      El nombre es obligatorio
    </div>
  </div>

  <div class="ms-sm-3">
    <button type="submit" class="btn btn-primary me-2" [disabled]="!speakerForm.valid">Guardar</button>
    <button type="button" class="btn btn-secondary" (click)="speakerForm.reset()">Cancelar</button>
  </div>
</form>
